<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="auth-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: 0px;"> Forgot Password </ion-title>
  </ion-toolbar>
  <div class="broder-div">
    <div class="border-div-inner"></div>
  </div>
</ion-header>

<ion-content class="ion-padding" mode="md">
  <div class="">
    <h2 class="top-title">Forgot Your Password ?</h2>
    <p class="top-subtitle">Hello there, Enter your email to reset password  </p>
  </div>
  <div class="top-header">
    <ion-img src="assets/images/header.svg" width="167px" style="height: 167px;"></ion-img>
  </div>
  <ion-input class="input-container" type="email" id="email" name="email" [(ngModel)]="email" required
    [pattern]="EMAIL_PATTERN" #emailField="ngModel" placeholder="Email" aria-label="Primary input" shape="round"
    color="primary">
  </ion-input>
  <p *ngIf="emailField.errors?.['required'] && emailField.touched" class="input-invalid">
    Email is required.
  </p>
  <p *ngIf="emailField.errors?.['pattern'] && emailField.touched" class="input-invalid">
    Please enter a valid email address.
  </p>

  <div style="margin-top: 15px;">
    <ion-button class="big-botton dark-botton" (click)="submit()"  [disabled]="isLoading"><ion-spinner *ngIf="isLoading"></ion-spinner> <span *ngIf="!isLoading">Send OTP</span></ion-button>
  </div>

  <div lines="none" class="link-primary">
    <p>Remembered your password?<b> <a style="color: #1A3561;text-decoration: none;"
          [routerLink]="['/authentication']">&nbsp; Sign In</a></b></p>
  </div>
</ion-content>