ion-icon {
    font-size: 50px;
    color: #222428;
    padding: 3px 9px 1px 2px;
  }

.img_size {
    max-width: 100%;
    width: 68px;
    padding: 8px;
}
.header-align{
  display: flex;
  justify-content: space-between;
}