<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="auth-header">
    <ion-title> Sign In </ion-title>
  </ion-toolbar>
  <div class="broder-div">
    <div class="border-div-inner"></div>
  </div>
</ion-header>
<ion-content mode="md">
  <ion-card class="main-card">
    <ion-card-content>
      <div class="top-header-card">
        <div class="top-circle"></div>
        <h2 class="top-title" style="font-size: 22px;">Create New Password</h2>
      </div>
      <div class="top-header">
        <ion-img src="assets/images/header.svg" width="167px" style="height: 167px;"></ion-img>
      </div>
      <form [formGroup]="passwordForm">
        <p class="p-text">Your password must be at least 6 characters and should include a combination of numbers, letters and special characters (!&#64;$%)</p>
        <ion-input class="input-container" formControlName="password" [type]="showPassword ? 'text' : 'password'"
          placeholder="Password">
          <ion-icon name="{{showPassword ? 'eye' : 'eye-off'}}" slot="end"
            (click)="showPassword = !showPassword"></ion-icon>
        </ion-input>
        <p *ngIf="f['password'].dirty && f['password'].errors" class="input-invalid">
          <span *ngIf="f['password'].errors?.['required']">* Password is required <br /></span>
          <span *ngIf="f['password'].errors?.['minlength']">* Password must be at least 6 characters<br /></span>
          <span *ngIf="f['password'].errors?.['pattern']">
            * Password must include letters, numbers, and at least one special character (!&#64;$%)
          </span>
        </p>

        <ion-input class="input-container" formControlName="confirmPassword"
          [type]="showconfirmPassword ? 'text' : 'password'" placeholder="Confirm password">
          <ion-icon name="{{showconfirmPassword ? 'eye' : 'eye-off'}}" slot="end"
            (click)="showconfirmPassword = !showconfirmPassword"></ion-icon>
        </ion-input>
        <p *ngIf="!!(f['confirmPassword']?.errors?.['required'] && f['confirmPassword']?.dirty)" class="input-invalid">
          * Confirm Password is required
        </p>
        <p *ngIf="!!(f['confirmPassword']?.errors?.['mustMatch'] && f['confirmPassword']?.dirty)" class="input-invalid">
          * Passwords must match
        </p>
        <div style="margin-top: 15px;">
          <ion-button class="big-botton dark-botton" (click)="submit()"><ion-spinner *ngIf="isLoading"></ion-spinner> <span *ngIf="!isLoading">Change Password</span></ion-button>
          
        </div>
      </form>


    </ion-card-content>
  </ion-card>
</ion-content>