.top-header {
    margin-top: 75px;
}

.p-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    padding: 4px;
    color: #444444;
    margin-top: 20px;
}
.top-circle {
    width: 34px;
    height: 34px;
    top: 224px;
    left: 52px;
    gap: 0px;
    opacity: 0px;
    background-color: #FFE920;
    border-radius: 50px;
    min-width: 34px;
}

h2.top-title {
    position: relative;
    right: 27px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #1A3561;
    width: 100%;
    min-width: 262px;
}