// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

body{
    --theme-color: #1A3561;
    --borders-color: #e5e5e5;
    --text-color: #000;
    --theme-light-color: #edd5d5;
    --light-text:#fff;
}