.p-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #444444;
    margin-top: 20px;
    margin-bottom: 15px;
}

.otp-container {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.otp-input {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    outline: none;
    input{
        box-shadow: 0px 4px 4px 0px #00000040 !important;
    }
}

.otp-input input:focus {
    outline-style: solid;
    outline-color: red;
}

::ng-deep .ng-otp-input-wrapper .otp-input input{
    margin: 0 .4rem !important;
    box-shadow: 0px 4px 4px 0px #00000040 !important;
}

.bottom-text{
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.23999999463558197px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}

.button-forget {
    margin-top: 15px;
    display: flex;
    justify-content: right;
    margin-bottom: 35px;
  
    a {
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      color: #1A3561;
      text-decoration: none;
      margin-right: 5px;
    }
  }