.button-forget {
  margin-top: 15px;
  display: flex;
  justify-content: right;
  margin-bottom: 35px;

  a {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-underline-position: from-font;
    color: #1A3561;
    text-decoration: none;
    margin-right: 5px;
  }
}


