<ion-header mode="md">
  <ion-toolbar>
    <ion-title class="custom-title">
      <ion-icon
        class="back_icon"
        name="chevron-back-outline"
        (click)="backLocation()"
      ></ion-icon>
      <span class="back_btn">FAMILY HISTORY</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <ion-card>
    <ion-card-content>
      <div class="padding">
        <form [formGroup]="dispenseForm" (ngSubmit)="submitForm()">
          <app-participant-info
            [participant]="participantData"
            (profileClicked)="nevigateProfile()"
          >
          </app-participant-info>

          <div *ngIf="currentStep === 1">
            <div class="form-group">
              <p class="participant-info">
                1. Does anyone in the family have or had any of these
                conditions?
              </p>

              <!-- 1.1 Hypertension -->
              <div class="form-group">
                <p class="participant-info">1.1 Hypertension?</p>
                <div class="border">
                  <ion-select
                    formControlName="Hypertension"
                    toggleIcon="caret-down-sharp"
                    placeholder="Select Option"
                    interface="popover"
                    class="custom-ion-select"
                  >
                    <ion-select-option value="yes">Yes</ion-select-option>
                    <ion-select-option value="no">No</ion-select-option>
                  </ion-select>
                </div>

                <div
                  *ngIf="
                    (dispenseForm.get('Hypertension')?.touched || submitted) &&
                    dispenseForm.get('Hypertension')?.hasError('required')
                  "
                >
                  <ion-text color="danger">
                    <p>Please select an option for Hypertension.</p>
                  </ion-text>
                </div>

                <!-- Relationship for Hypertension -->
                <div *ngIf="dispenseForm.get('Hypertension')?.value === 'yes'" class="relationship-section">
                  <p class="participant-info sub-question">What is the relationship with this person?</p>
                  <div class="border">
                    <ion-select
                      formControlName="Hypertension_relationship"
                      placeholder="Select Relationship(s)"
                      toggleIcon="caret-down-sharp"
                      interface="popover"
                      class="custom-ion-select"
                      multiple="true"
                    >
                      <ion-select-option 
                        *ngFor="let option of relationshipOptions" 
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                  <div
                    *ngIf="
                      (dispenseForm.get('Hypertension_relationship')?.touched || submitted) &&
                      dispenseForm.get('Hypertension_relationship')?.hasError('required')
                    "
                  >
                    <ion-text color="danger">
                      <p>Please select at least one relationship.</p>
                    </ion-text>
                  </div>
                </div>
              </div>

              <!-- 1.2 Diabetes -->
              <div class="form-group">
                <p class="participant-info">1.2 Diabetes?</p>
                <div class="border">
                  <ion-select
                    formControlName="Diabetes"
                    toggleIcon="caret-down-sharp"
                    placeholder="Select Option"
                    interface="popover"
                    class="custom-ion-select"
                  >
                    <ion-select-option value="yes">Yes</ion-select-option>
                    <ion-select-option value="no">No</ion-select-option>
                  </ion-select>
                </div>

                <div
                  *ngIf="
                    (dispenseForm.get('Diabetes')?.touched || submitted) &&
                    dispenseForm.get('Diabetes')?.hasError('required')
                  "
                >
                  <ion-text color="danger">
                    <p>Please select an option for Diabetes.</p>
                  </ion-text>
                </div>

                <!-- Relationship for Diabetes -->
                <div *ngIf="dispenseForm.get('Diabetes')?.value === 'yes'" class="relationship-section">
                  <p class="participant-info sub-question">What is the relationship with this person?</p>
                  <div class="border">
                    <ion-select
                      formControlName="Diabetes_relationship"
                      placeholder="Select Relationship(s)"
                      toggleIcon="caret-down-sharp"
                      interface="popover"
                      class="custom-ion-select"
                      multiple="true"
                    >
                      <ion-select-option 
                        *ngFor="let option of relationshipOptions" 
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                  <div
                    *ngIf="
                      (dispenseForm.get('Diabetes_relationship')?.touched || submitted) &&
                      dispenseForm.get('Diabetes_relationship')?.hasError('required')
                    "
                  >
                    <ion-text color="danger">
                      <p>Please select at least one relationship.</p>
                    </ion-text>
                  </div>
                </div>
              </div>

              <!-- 1.3 Cataract -->
              <div class="form-group">
                <p class="participant-info">1.3 Cataract?</p>
                <div class="border">
                  <ion-select
                    formControlName="Cataract"
                    toggleIcon="caret-down-sharp"
                    placeholder="Select Option"
                    interface="popover"
                    class="custom-ion-select"
                  >
                    <ion-select-option value="yes">Yes</ion-select-option>
                    <ion-select-option value="no">No</ion-select-option>
                  </ion-select>
                </div>

                <div
                  *ngIf="
                    (dispenseForm.get('Cataract')?.touched || submitted) &&
                    dispenseForm.get('Cataract')?.hasError('required')
                  "
                >
                  <ion-text color="danger">
                    <p>Please select an option for Cataract.</p>
                  </ion-text>
                </div>

                <!-- Relationship for Cataract -->
                <div *ngIf="dispenseForm.get('Cataract')?.value === 'yes'" class="relationship-section">
                  <p class="participant-info sub-question">What is the relationship with this person?</p>
                  <div class="border">
                    <ion-select
                      formControlName="Cataract_relationship"
                      placeholder="Select Relationship(s)"
                      toggleIcon="caret-down-sharp"
                      interface="popover"
                      class="custom-ion-select"
                      multiple="true"
                    >
                      <ion-select-option 
                        *ngFor="let option of relationshipOptions" 
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                  <div
                    *ngIf="
                      (dispenseForm.get('Cataract_relationship')?.touched || submitted) &&
                      dispenseForm.get('Cataract_relationship')?.hasError('required')
                    "
                  >
                    <ion-text color="danger">
                      <p>Please select at least one relationship.</p>
                    </ion-text>
                  </div>
                </div>
              </div>

              <!-- 1.4 Glaucoma -->
              <div class="form-group">
                <p class="participant-info">1.4 Glaucoma?</p>
                <div class="border">
                  <ion-select
                    formControlName="Glaucoma"
                    toggleIcon="caret-down-sharp"
                    placeholder="Select Option"
                    interface="popover"
                    class="custom-ion-select"
                  >
                    <ion-select-option value="yes">Yes</ion-select-option>
                    <ion-select-option value="no">No</ion-select-option>
                  </ion-select>
                </div>

                <div
                  *ngIf="
                    (dispenseForm.get('Glaucoma')?.touched || submitted) &&
                    dispenseForm.get('Glaucoma')?.hasError('required')
                  "
                >
                  <ion-text color="danger">
                    <p>Please select an option for Glaucoma.</p>
                  </ion-text>
                </div>

                <!-- Relationship for Glaucoma -->
                <div *ngIf="dispenseForm.get('Glaucoma')?.value === 'yes'" class="relationship-section">
                  <p class="participant-info sub-question">What is the relationship with this person?</p>
                  <div class="border">
                    <ion-select
                      formControlName="Glaucoma_relationship"
                      placeholder="Select Relationship(s)"
                      toggleIcon="caret-down-sharp"
                      interface="popover"
                      class="custom-ion-select"
                      multiple="true"
                    >
                      <ion-select-option 
                        *ngFor="let option of relationshipOptions" 
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                  <div
                    *ngIf="
                      (dispenseForm.get('Glaucoma_relationship')?.touched || submitted) &&
                      dispenseForm.get('Glaucoma_relationship')?.hasError('required')
                    "
                  >
                    <ion-text color="danger">
                      <p>Please select at least one relationship.</p>
                    </ion-text>
                  </div>
                </div>
              </div>

              <!-- 1.5 Other Glasses -->
              <div class="form-group">
                <p class="participant-info">
                  1.5 Glasses use other than for presbyopia?
                </p>
                <div class="border">
                  <ion-select
                    formControlName="Other_glasses"
                    toggleIcon="caret-down-sharp"
                    placeholder="Select Option"
                    interface="popover"
                    class="custom-ion-select"
                  >
                    <ion-select-option value="yes">Yes</ion-select-option>
                    <ion-select-option value="no">No</ion-select-option>
                  </ion-select>
                </div>

                <div
                  *ngIf="
                    (dispenseForm.get('Other_glasses')?.touched || submitted) &&
                    dispenseForm.get('Other_glasses')?.hasError('required')
                  "
                >
                  <ion-text color="danger">
                    <p>Please select an option for Other glasses.</p>
                  </ion-text>
                </div>

                <!-- Relationship for Other Glasses -->
                <div *ngIf="dispenseForm.get('Other_glasses')?.value === 'yes'" class="relationship-section">
                  <p class="participant-info sub-question">What is the relationship with this person?</p>
                  <div class="border">
                    <ion-select
                      formControlName="Other_glasses_relationship"
                      placeholder="Select Relationship(s)"
                      toggleIcon="caret-down-sharp"
                      interface="popover"
                      class="custom-ion-select"
                      multiple="true"
                    >
                      <ion-select-option 
                        *ngFor="let option of relationshipOptions" 
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                  <div
                    *ngIf="
                      (dispenseForm.get('Other_glasses_relationship')?.touched || submitted) &&
                      dispenseForm.get('Other_glasses_relationship')?.hasError('required')
                    "
                  >
                    <ion-text color="danger">
                      <p>Please select at least one relationship.</p>
                    </ion-text>
                  </div>
                </div>
              </div>

              <!-- 1.6 Other -->
              <div class="form-group">
                <p class="participant-info">1.6 Other?</p>
                <div class="border">
                  <ion-select
                    formControlName="Other"
                    toggleIcon="caret-down-sharp"
                    placeholder="Select Option"
                    interface="popover"
                    class="custom-ion-select"
                  >
                    <ion-select-option value="yes">Yes</ion-select-option>
                    <ion-select-option value="no">No</ion-select-option>
                  </ion-select>
                </div>

                <div
                  *ngIf="
                    (dispenseForm.get('Other')?.touched || submitted) &&
                    dispenseForm.get('Other')?.hasError('required')
                  "
                >
                  <ion-text color="danger">
                    <p>Please select an option for Other.</p>
                  </ion-text>
                </div>

                <!-- Text input for Other specification -->
                <div class="form-group" *ngIf="dispenseForm.get('Other')?.value === 'yes'">
                  <p class="participant-info sub-question">Please specify:</p>
                  <div class="border">
                    <ion-input formControlName="Other_text" placeholder="Please enter details"></ion-input>
                  </div>

                  <div
                    *ngIf="
                      (dispenseForm.get('Other_text')?.touched || submitted) &&
                      dispenseForm.get('Other_text')?.hasError('required')
                    "
                  >
                    <ion-text color="danger">
                      <p>Please enter details for Other.</p>
                    </ion-text>
                  </div>
                </div>

                <!-- Relationship for Other -->
                <div *ngIf="dispenseForm.get('Other')?.value === 'yes'" class="relationship-section">
                  <p class="participant-info sub-question">What is the relationship with this person?</p>
                  <div class="border">
                    <ion-select
                      formControlName="Other_relationship"
                      placeholder="Select Relationship(s)"
                      toggleIcon="caret-down-sharp"
                      interface="popover"
                      class="custom-ion-select"
                      multiple="true"
                    >
                      <ion-select-option 
                        *ngFor="let option of relationshipOptions" 
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                  <div
                    *ngIf="
                      (dispenseForm.get('Other_relationship')?.touched || submitted) &&
                      dispenseForm.get('Other_relationship')?.hasError('required')
                    "
                  >
                    <ion-text color="danger">
                      <p>Please select at least one relationship.</p>
                    </ion-text>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>

      <app-profile-footer
        [currentStep]="currentStep"
        [totalSteps]="totalSteps"
        (previousStepClick)="previousStep()"
        (nextStepClick)="nextStep()"
        (saveProgressClick)="submitForm()"
        (editClick)="onEdit()"
        (deleteClick)="onDelete()"
      >
      </app-profile-footer>
    </ion-card-content>
  </ion-card>
</ion-content>