.button-group {
    display: flex
;
    justify-content: center;
}

ion-button.button_yes{
    height: 42px;
    width: 27%;
    margin-left: 16px;
}
.buttons-new-ionic{
    display: flex;
    justify-content: center;
}