<div class="d-flex flex-column align-items-center p-3 gap-3">
  <div class="members-header-card d-flex flex-column align-items-center">
      <h2 class="long-members-title">
          <span class="position-relative z-2">
              {{ content.title}}
              <div class="members-circle position-absolute" style="z-index: -1"></div>
          </span>
      </h2>
  </div>
  @if(content.disc){
    <p class="upload-p">{{ content.disc || 'Upload a menu or label and get instant recommendation'}}</p>
  }
</div>